/* Footer */
.footer {
    background: #014421;
    color: white;
    padding: 0;
    min-height: 48px;
}

/* Outer container */
.footer .outer-content-container {
    padding: 20px 40px;
}

/* Inner container */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.footer-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    position: relative;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #28a745;
    transition: width 0.3s ease;
}

.footer-links a:hover {
    color: black;
}

.footer-links a:hover::after {
    width: 100%;
}

.footer {
    margin-top: auto; /* duwt footer naar onder */
}

.default-link {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.default-link:hover {
    color: #28a745;
}

.active-link {
    color: #28a745;
    text-decoration: underline;
    margin-left: 15px;
}
